@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);





body {
  font-family: IBM Plex Sans;
}
.display-1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.75rem;
}
.display-7 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ff7700 !important;
}
.bg-success {
  background-color: #ffffff !important;
}
.bg-info {
  background-color: #232323 !important;
}
.bg-warning {
  background-color: #232323 !important;
}
.bg-danger {
  background-color: #232323 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ff7700 !important;
  border-color: #ff7700 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #a84f00 !important;
  border-color: #a84f00 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a84f00 !important;
  border-color: #a84f00 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff7700 !important;
  border-color: #ff7700 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #a84f00 !important;
  border-color: #a84f00 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #a84f00 !important;
  border-color: #a84f00 !important;
}
.btn-info,
.btn-info:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success,
.btn-success:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff7700;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #a84f00 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff7700 !important;
  border-color: #ff7700 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff7700;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #a84f00 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff7700 !important;
  border-color: #ff7700 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffffff;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ff7700 !important;
}
.text-secondary {
  color: #ff7700 !important;
}
.text-success {
  color: #ffffff !important;
}
.text-info {
  color: #232323 !important;
}
.text-warning {
  color: #232323 !important;
}
.text-danger {
  color: #232323 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #994700 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #994700 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #cccccc !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #000000 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #000000 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ff7700;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #232323;
}
.alert-warning {
  background-color: #232323;
}
.alert-danger {
  background-color: #232323;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ff7700;
  border-color: #ff7700;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #ff7700;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffe4cc;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #d5d5d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #d5d5d5;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #d5d5d5;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ff7700 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #ff7700;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ff7700;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ff7700;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ff7700;
  border-bottom-color: #ff7700;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ff7700 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff7700 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ff7700' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-snBIakvKTb {
  background-image: url("../../../assets/images/mbr-1-1920x1280.jpg");
}
.cid-snBIakvKTb .row {
  flex-direction: row-reverse;
}
.cid-snBIakvKTb .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-snBIakvKTb .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-snBIakvKTb .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-snBIakvKTb .mbr-section-title {
  text-align: left;
  color: #ff7700;
}
.cid-snBIakvKTb .mbr-text,
.cid-snBIakvKTb .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
.cid-snBTiZPvnD {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-snBTiZPvnD .timeline-element {
  position: relative;
}
.cid-snBTiZPvnD .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-snBTiZPvnD .iconBackground {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ff7700;
  top: 30px;
  margin-left: -9px;
}
@media (max-width: 767px) {
  .cid-snBTiZPvnD .iconBackground {
    left: 15px;
  }
}
@media (min-width: 768px) {
  .cid-snBTiZPvnD .iconBackground {
    left: 50%;
  }
}
.cid-snBTiZPvnD .row:after {
  content: "";
  position: absolute;
  background-color: #ff7700;
  width: 2px;
  top: 50px;
  height: calc(100% - 10px);
}
@media (max-width: 767px) {
  .cid-snBTiZPvnD .row:after {
    left: 15px;
  }
}
@media (min-width: 768px) {
  .cid-snBTiZPvnD .row:after {
    left: 50%;
  }
}
.cid-snBTiZPvnD .row:nth-child(odd) .mbr-timeline-date {
  text-align: right;
}
@media (max-width: 767px) {
  .cid-snBTiZPvnD .row:nth-child(even) {
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) {
  .cid-snBTiZPvnD .timeline-date-wrapper,
  .cid-snBTiZPvnD .timeline-text-wrapper {
    padding: 0rem;
    padding-left: 2rem;
  }
  .cid-snBTiZPvnD .mbr-timeline-date {
    text-align: left !important;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-snBTiZPvnD .timeline-date-wrapper,
  .cid-snBTiZPvnD .timeline-text-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-snBTiZPvnD .timeline-date-wrapper,
  .cid-snBTiZPvnD .timeline-text-wrapper {
    padding: 2rem;
  }
}
.cid-spAXvCq0Fd {
  padding-top: 3rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-spAXvCq0Fd .timeline-element {
  position: relative;
}
.cid-spAXvCq0Fd .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-spAXvCq0Fd .iconBackground {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ff7700;
  top: 30px;
  margin-left: -9px;
}
@media (max-width: 767px) {
  .cid-spAXvCq0Fd .iconBackground {
    left: 15px;
  }
}
@media (min-width: 768px) {
  .cid-spAXvCq0Fd .iconBackground {
    left: 50%;
  }
}
.cid-spAXvCq0Fd .row:after {
  content: "";
  position: absolute;
  background-color: #ff7700;
  width: 2px;
  top: 50px;
  height: calc(100% - 10px);
}
@media (max-width: 767px) {
  .cid-spAXvCq0Fd .row:after {
    left: 15px;
  }
}
@media (min-width: 768px) {
  .cid-spAXvCq0Fd .row:after {
    left: 50%;
  }
}
.cid-spAXvCq0Fd .row:nth-child(odd) .mbr-timeline-date {
  text-align: right;
}
@media (max-width: 767px) {
  .cid-spAXvCq0Fd .row:nth-child(even) {
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) {
  .cid-spAXvCq0Fd .timeline-date-wrapper,
  .cid-spAXvCq0Fd .timeline-text-wrapper {
    padding: 0rem;
    padding-left: 2rem;
  }
  .cid-spAXvCq0Fd .mbr-timeline-date {
    text-align: left !important;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-spAXvCq0Fd .timeline-date-wrapper,
  .cid-spAXvCq0Fd .timeline-text-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-spAXvCq0Fd .timeline-date-wrapper,
  .cid-spAXvCq0Fd .timeline-text-wrapper {
    padding: 2rem;
  }
}
.cid-spdDvsqBTU {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-spdDvsqBTU img,
.cid-spdDvsqBTU .item-img {
  width: 100%;
  height: 100%;
  height: 200px;
  object-fit: cover;
}
.cid-spdDvsqBTU .item:focus,
.cid-spdDvsqBTU span:focus {
  outline: none;
}
.cid-spdDvsqBTU .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-spdDvsqBTU .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-spdDvsqBTU .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-spdDvsqBTU .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-spdDvsqBTU .mbr-section-btn {
  margin-top: auto !important;
}
.cid-spdDvsqBTU .mbr-section-title {
  color: #232323;
}
.cid-spdEa6Aldn {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-spdEa6Aldn img,
.cid-spdEa6Aldn .item-img {
  width: 100%;
  height: 100%;
  height: 200px;
  object-fit: cover;
}
.cid-spdEa6Aldn .item:focus,
.cid-spdEa6Aldn span:focus {
  outline: none;
}
.cid-spdEa6Aldn .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-spdEa6Aldn .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-spdEa6Aldn .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-spdEa6Aldn .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-spdEa6Aldn .mbr-section-btn {
  margin-top: auto !important;
}
.cid-spdEa6Aldn .mbr-section-title {
  color: #232323;
}
.cid-spdD3kBPoE {
  padding-top: 0rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-spdD3kBPoE img,
.cid-spdD3kBPoE .item-img {
  width: 100%;
  height: 100%;
  height: 200px;
  object-fit: cover;
}
.cid-spdD3kBPoE .item:focus,
.cid-spdD3kBPoE span:focus {
  outline: none;
}
.cid-spdD3kBPoE .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-spdD3kBPoE .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-spdD3kBPoE .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-spdD3kBPoE .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-spdD3kBPoE .mbr-section-btn {
  margin-top: auto !important;
}
.cid-spdD3kBPoE .mbr-section-title {
  color: #232323;
}
.cid-spzzOTQoUn {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-spzApdufku {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/slide05escuro-1366x745.png");
}
.cid-spzApdufku .card-box {
  z-index: 10;
  position: relative;
}
@media (min-width: 1500px) {
  .cid-spzApdufku .container {
    max-width: 1400px;
  }
}
.cid-spzApdufku .card {
  margin: auto;
}
.cid-spzApdufku .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #ff7700;
  margin-bottom: 2rem;
}
.cid-spzApdufku .card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-spzApdufku .row {
  justify-content: center;
}
.cid-spzRG6I8eB {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/slide02escuro-1366x745.png");
}
.cid-spzRG6I8eB .card-box {
  z-index: 10;
  position: relative;
}
@media (min-width: 1500px) {
  .cid-spzRG6I8eB .container {
    max-width: 1400px;
  }
}
.cid-spzRG6I8eB .card {
  margin: auto;
}
.cid-spzRG6I8eB .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #6592e6;
  margin-bottom: 2rem;
}
.cid-spzRG6I8eB .card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-spzRG6I8eB .row {
  justify-content: center;
}
.cid-spAOPGGPy4 {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-s48OLK6784 {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-s48OLK6784 nav.navbar {
  position: fixed;
}
.cid-s48OLK6784 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .dropdown-menu {
  padding: 0;
}
.cid-s48OLK6784 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-s48OLK6784 .dropdown-item:hover,
.cid-s48OLK6784 .dropdown-item:focus {
  background: #ff7700 !important;
  color: white !important;
}
.cid-s48OLK6784 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-s48OLK6784 .nav-link {
  position: relative;
}
.cid-s48OLK6784 .container {
  display: flex;
  margin: auto;
}
.cid-s48OLK6784 .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-s48OLK6784 .navbar-caption {
  padding-right: 4rem;
}
.cid-s48OLK6784 .dropdown-menu,
.cid-s48OLK6784 .navbar.opened {
  background: #ff7700 !important;
}
.cid-s48OLK6784 .nav-item:focus,
.cid-s48OLK6784 .nav-link:focus {
  outline: none;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s48OLK6784 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-s48OLK6784 .navbar {
  min-height: 77px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  background: #ff7700;
}
.cid-s48OLK6784 .navbar:not(.navbar-short) {
  border-bottom: 1px solid #e6e6e6;
}
.cid-s48OLK6784 .navbar.opened {
  transition: all .3s;
}
.cid-s48OLK6784 .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-s48OLK6784 .navbar .navbar-logo img {
  width: auto;
}
.cid-s48OLK6784 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-s48OLK6784 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-s48OLK6784 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-s48OLK6784 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-s48OLK6784 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-s48OLK6784 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-s48OLK6784 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-s48OLK6784 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-s48OLK6784 .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-s48OLK6784 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-s48OLK6784 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-s48OLK6784 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-s48OLK6784 .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-s48OLK6784 .navbar.navbar-short {
  min-height: 60px;
}
.cid-s48OLK6784 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-s48OLK6784 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-s48OLK6784 .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s48OLK6784 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s48OLK6784 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s48OLK6784 .dropdown-item.active,
.cid-s48OLK6784 .dropdown-item:active {
  background-color: transparent;
}
.cid-s48OLK6784 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s48OLK6784 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ff7700;
}
.cid-s48OLK6784 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s48OLK6784 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s48OLK6784 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-s48OLK6784 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-s48OLK6784 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: currentColor;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s48OLK6784 .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-s48OLK6784 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-s48OLK6784 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s48OLK6784 .navbar {
    height: 77px;
  }
  .cid-s48OLK6784 .navbar.opened {
    height: auto;
  }
  .cid-s48OLK6784 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-spzWiLigHJ {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/bag-and-hands-2000x1340.jpg");
}
.cid-spzWiLigHJ .card-box {
  z-index: 10;
  position: relative;
}
@media (min-width: 1500px) {
  .cid-spzWiLigHJ .container {
    max-width: 1400px;
  }
}
.cid-spzWiLigHJ .card {
  margin: auto;
}
.cid-spzWiLigHJ .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #6592e6;
  margin-bottom: 2rem;
}
.cid-spzWiLigHJ .card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-spzWiLigHJ .row {
  justify-content: center;
}
.cid-spzWjs2qrt {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/o-happy-college-students-facebook-2000x1000.jpg");
}
.cid-spzWjs2qrt .card-box {
  z-index: 10;
  position: relative;
}
@media (min-width: 1500px) {
  .cid-spzWjs2qrt .container {
    max-width: 1400px;
  }
}
.cid-spzWjs2qrt .card {
  margin: auto;
}
.cid-spzWjs2qrt .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #6592e6;
  margin-bottom: 2rem;
}
.cid-spzWjs2qrt .card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-spzWjs2qrt .row {
  justify-content: center;
}
.cid-spB0Dvxr8P {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-spB1FfWAEz {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #232323;
}
.cid-spB1FfWAEz .row-links {
  width: 100%;
  justify-content: center;
}
.cid-spB1FfWAEz .social-row {
  width: 100%;
  justify-content: center;
}
.cid-spB1FfWAEz .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-spB1FfWAEz .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-spB1FfWAEz .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-spB1FfWAEz .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-spB1FfWAEz .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-spB1FfWAEz .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-spB1FfWAEz .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-spB1FfWAEz .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-spB1FfWAEz .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-spB1FfWAEz .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-spB1FfWAEz .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-spB1FfWAEz .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-spMHSnFmAR {
  background-image: url("../../../assets/images/mbr-1-1920x1280.jpg");
}
.cid-spMHSnFmAR .row {
  flex-direction: row-reverse;
}
.cid-spMHSnFmAR .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-spMHSnFmAR .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-spMHSnFmAR .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-spMHSnFmAR .mbr-section-title {
  text-align: left;
  color: #ff7700;
}
.cid-spMHSnFmAR .mbr-text,
.cid-spMHSnFmAR .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
.cid-spMHSoawDD {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-spMHSoawDD .timeline-element {
  position: relative;
}
.cid-spMHSoawDD .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-spMHSoawDD .iconBackground {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ff7700;
  top: 30px;
  margin-left: -9px;
}
@media (max-width: 767px) {
  .cid-spMHSoawDD .iconBackground {
    left: 15px;
  }
}
@media (min-width: 768px) {
  .cid-spMHSoawDD .iconBackground {
    left: 50%;
  }
}
.cid-spMHSoawDD .row:after {
  content: "";
  position: absolute;
  background-color: #ff7700;
  width: 2px;
  top: 50px;
  height: calc(100% - 10px);
}
@media (max-width: 767px) {
  .cid-spMHSoawDD .row:after {
    left: 15px;
  }
}
@media (min-width: 768px) {
  .cid-spMHSoawDD .row:after {
    left: 50%;
  }
}
.cid-spMHSoawDD .row:nth-child(odd) .mbr-timeline-date {
  text-align: right;
}
@media (max-width: 767px) {
  .cid-spMHSoawDD .row:nth-child(even) {
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) {
  .cid-spMHSoawDD .timeline-date-wrapper,
  .cid-spMHSoawDD .timeline-text-wrapper {
    padding: 0rem;
    padding-left: 2rem;
  }
  .cid-spMHSoawDD .mbr-timeline-date {
    text-align: left !important;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-spMHSoawDD .timeline-date-wrapper,
  .cid-spMHSoawDD .timeline-text-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-spMHSoawDD .timeline-date-wrapper,
  .cid-spMHSoawDD .timeline-text-wrapper {
    padding: 2rem;
  }
}
.cid-spMHSpa8Wh {
  padding-top: 3rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-spMHSpa8Wh .timeline-element {
  position: relative;
}
.cid-spMHSpa8Wh .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-spMHSpa8Wh .iconBackground {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ff7700;
  top: 30px;
  margin-left: -9px;
}
@media (max-width: 767px) {
  .cid-spMHSpa8Wh .iconBackground {
    left: 15px;
  }
}
@media (min-width: 768px) {
  .cid-spMHSpa8Wh .iconBackground {
    left: 50%;
  }
}
.cid-spMHSpa8Wh .row:after {
  content: "";
  position: absolute;
  background-color: #ff7700;
  width: 2px;
  top: 50px;
  height: calc(100% - 10px);
}
@media (max-width: 767px) {
  .cid-spMHSpa8Wh .row:after {
    left: 15px;
  }
}
@media (min-width: 768px) {
  .cid-spMHSpa8Wh .row:after {
    left: 50%;
  }
}
.cid-spMHSpa8Wh .row:nth-child(odd) .mbr-timeline-date {
  text-align: right;
}
@media (max-width: 767px) {
  .cid-spMHSpa8Wh .row:nth-child(even) {
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) {
  .cid-spMHSpa8Wh .timeline-date-wrapper,
  .cid-spMHSpa8Wh .timeline-text-wrapper {
    padding: 0rem;
    padding-left: 2rem;
  }
  .cid-spMHSpa8Wh .mbr-timeline-date {
    text-align: left !important;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-spMHSpa8Wh .timeline-date-wrapper,
  .cid-spMHSpa8Wh .timeline-text-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-spMHSpa8Wh .timeline-date-wrapper,
  .cid-spMHSpa8Wh .timeline-text-wrapper {
    padding: 2rem;
  }
}
.cid-spMHSq1he4 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-spMHSq1he4 img,
.cid-spMHSq1he4 .item-img {
  width: 100%;
  height: 100%;
  height: 200px;
  object-fit: cover;
}
.cid-spMHSq1he4 .item:focus,
.cid-spMHSq1he4 span:focus {
  outline: none;
}
.cid-spMHSq1he4 .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-spMHSq1he4 .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-spMHSq1he4 .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-spMHSq1he4 .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-spMHSq1he4 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-spMHSq1he4 .mbr-section-title {
  color: #232323;
}
.cid-spMHSqwUUv {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-spMHSqwUUv img,
.cid-spMHSqwUUv .item-img {
  width: 100%;
  height: 100%;
  height: 200px;
  object-fit: cover;
}
.cid-spMHSqwUUv .item:focus,
.cid-spMHSqwUUv span:focus {
  outline: none;
}
.cid-spMHSqwUUv .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-spMHSqwUUv .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-spMHSqwUUv .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-spMHSqwUUv .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-spMHSqwUUv .mbr-section-btn {
  margin-top: auto !important;
}
.cid-spMHSqwUUv .mbr-section-title {
  color: #232323;
}
.cid-spMHSqYi07 {
  padding-top: 0rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-spMHSqYi07 img,
.cid-spMHSqYi07 .item-img {
  width: 100%;
  height: 100%;
  height: 200px;
  object-fit: cover;
}
.cid-spMHSqYi07 .item:focus,
.cid-spMHSqYi07 span:focus {
  outline: none;
}
.cid-spMHSqYi07 .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-spMHSqYi07 .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-spMHSqYi07 .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-spMHSqYi07 .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-spMHSqYi07 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-spMHSqYi07 .mbr-section-title {
  color: #232323;
}
.cid-spMHSrsbQ7 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-spMHSrI0E7 {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/slide05escuro-1366x745.png");
}
.cid-spMHSrI0E7 .card-box {
  z-index: 10;
  position: relative;
}
@media (min-width: 1500px) {
  .cid-spMHSrI0E7 .container {
    max-width: 1400px;
  }
}
.cid-spMHSrI0E7 .card {
  margin: auto;
}
.cid-spMHSrI0E7 .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #ff7700;
  margin-bottom: 2rem;
}
.cid-spMHSrI0E7 .card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-spMHSrI0E7 .row {
  justify-content: center;
}
.cid-spMHSs7SP1 {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/slide02escuro-1366x745.png");
}
.cid-spMHSs7SP1 .card-box {
  z-index: 10;
  position: relative;
}
@media (min-width: 1500px) {
  .cid-spMHSs7SP1 .container {
    max-width: 1400px;
  }
}
.cid-spMHSs7SP1 .card {
  margin: auto;
}
.cid-spMHSs7SP1 .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #6592e6;
  margin-bottom: 2rem;
}
.cid-spMHSs7SP1 .card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-spMHSs7SP1 .row {
  justify-content: center;
}
.cid-spMHSstDxU {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-spMHSsKCT0 {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-spMHSsKCT0 nav.navbar {
  position: fixed;
}
.cid-spMHSsKCT0 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-spMHSsKCT0 .dropdown-menu {
  padding: 0;
}
.cid-spMHSsKCT0 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-spMHSsKCT0 .dropdown-item:hover,
.cid-spMHSsKCT0 .dropdown-item:focus {
  background: #ff7700 !important;
  color: white !important;
}
.cid-spMHSsKCT0 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-spMHSsKCT0 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-spMHSsKCT0 .nav-link {
  position: relative;
}
.cid-spMHSsKCT0 .container {
  display: flex;
  margin: auto;
}
.cid-spMHSsKCT0 .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-spMHSsKCT0 .navbar-caption {
  padding-right: 4rem;
}
.cid-spMHSsKCT0 .dropdown-menu,
.cid-spMHSsKCT0 .navbar.opened {
  background: #ff7700 !important;
}
.cid-spMHSsKCT0 .nav-item:focus,
.cid-spMHSsKCT0 .nav-link:focus {
  outline: none;
}
.cid-spMHSsKCT0 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-spMHSsKCT0 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-spMHSsKCT0 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-spMHSsKCT0 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-spMHSsKCT0 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-spMHSsKCT0 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-spMHSsKCT0 .navbar {
  min-height: 77px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  background: #ff7700;
}
.cid-spMHSsKCT0 .navbar:not(.navbar-short) {
  border-bottom: 1px solid #e6e6e6;
}
.cid-spMHSsKCT0 .navbar.opened {
  transition: all .3s;
}
.cid-spMHSsKCT0 .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-spMHSsKCT0 .navbar .navbar-logo img {
  width: auto;
}
.cid-spMHSsKCT0 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-spMHSsKCT0 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-spMHSsKCT0 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-spMHSsKCT0 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-spMHSsKCT0 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-spMHSsKCT0 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-spMHSsKCT0 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-spMHSsKCT0 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-spMHSsKCT0 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-spMHSsKCT0 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-spMHSsKCT0 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-spMHSsKCT0 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-spMHSsKCT0 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-spMHSsKCT0 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-spMHSsKCT0 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-spMHSsKCT0 .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-spMHSsKCT0 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-spMHSsKCT0 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-spMHSsKCT0 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-spMHSsKCT0 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-spMHSsKCT0 .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-spMHSsKCT0 .navbar.navbar-short {
  min-height: 60px;
}
.cid-spMHSsKCT0 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-spMHSsKCT0 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-spMHSsKCT0 .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-spMHSsKCT0 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-spMHSsKCT0 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-spMHSsKCT0 .dropdown-item.active,
.cid-spMHSsKCT0 .dropdown-item:active {
  background-color: transparent;
}
.cid-spMHSsKCT0 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-spMHSsKCT0 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-spMHSsKCT0 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-spMHSsKCT0 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ff7700;
}
.cid-spMHSsKCT0 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-spMHSsKCT0 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-spMHSsKCT0 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-spMHSsKCT0 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-spMHSsKCT0 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-spMHSsKCT0 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: currentColor;
}
.cid-spMHSsKCT0 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-spMHSsKCT0 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-spMHSsKCT0 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-spMHSsKCT0 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-spMHSsKCT0 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-spMHSsKCT0 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-spMHSsKCT0 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-spMHSsKCT0 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-spMHSsKCT0 .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-spMHSsKCT0 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-spMHSsKCT0 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-spMHSsKCT0 .navbar {
    height: 77px;
  }
  .cid-spMHSsKCT0 .navbar.opened {
    height: auto;
  }
  .cid-spMHSsKCT0 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-spMHStpyUi {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/bag-and-hands-2000x1340.jpg");
}
.cid-spMHStpyUi .card-box {
  z-index: 10;
  position: relative;
}
@media (min-width: 1500px) {
  .cid-spMHStpyUi .container {
    max-width: 1400px;
  }
}
.cid-spMHStpyUi .card {
  margin: auto;
}
.cid-spMHStpyUi .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #6592e6;
  margin-bottom: 2rem;
}
.cid-spMHStpyUi .card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-spMHStpyUi .row {
  justify-content: center;
}
.cid-spMHStOvjc {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/o-happy-college-students-facebook-2000x1000.jpg");
}
.cid-spMHStOvjc .card-box {
  z-index: 10;
  position: relative;
}
@media (min-width: 1500px) {
  .cid-spMHStOvjc .container {
    max-width: 1400px;
  }
}
.cid-spMHStOvjc .card {
  margin: auto;
}
.cid-spMHStOvjc .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #6592e6;
  margin-bottom: 2rem;
}
.cid-spMHStOvjc .card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-spMHStOvjc .row {
  justify-content: center;
}
.cid-spMHSufeTe {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-spMHSuxQzH {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #232323;
}
.cid-spMHSuxQzH .row-links {
  width: 100%;
  justify-content: center;
}
.cid-spMHSuxQzH .social-row {
  width: 100%;
  justify-content: center;
}
.cid-spMHSuxQzH .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-spMHSuxQzH .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-spMHSuxQzH .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-spMHSuxQzH .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-spMHSuxQzH .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-spMHSuxQzH .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-spMHSuxQzH .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-spMHSuxQzH .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-spMHSuxQzH .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-spMHSuxQzH .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-spMHSuxQzH .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-spMHSuxQzH .media-container-row .row-copirayt p {
  width: 100%;
}
